
footer {
  background: #212529;
  position: fixed;
  bottom:0;
  height: 200px;
  margin-right: 50px;
}

.jumbotron{
  background:
/* linear-gradient(
  rgba(0, 0, 250, 0.25),
  rgba(125, 250, 250, 0.45)
), */
url(https://cdn.wallpapersafari.com/78/10/87qfxo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color:white !important;
height:100vh;
}

 .string-1{
  padding-top:30px;
  width:600px;
  margin:0 auto;
  font-weight:100;
  margin-top:-35px;
}

.homeContent{
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
}

