<div class="wrapper">
	<div class="outer box" style="margin-top: -200px;" >
		<div class="content animated fadeInLeft">
			<span class="bg animated fadeInDown">EXCLUSIVE</span>
			<h1>Sedan<br/> White Variant</h1>
			<p>Shadow your real style by driving the all new sedan..</p>

			<div class="button">
				<a href="#">&#8377; 7L</a><a class="cart-btn" href="#"><i class="cart-icon ion-bag"></i>BUY NOW</a>
			</div>

		</div>
		<img src="https://cdn.autoportal.com/img/new-cars-gallery/audi/a4/colors/98c79451b128364d9e1ee245280e4b1c.jpg" width="300px" class="animated fadeInRight">
	</div>
  <div class="outer box" style="margin-left: 100px; margin-top: -200px;">
		<div class="content animated fadeInLeft">
			<span class="bg animated fadeInDown">EXCLUSIVE</span>
			<h1>Sedan<br/> Black Variant</h1>
			<p>Shadow your real style by driving the all new sedan..</p>

			<div class="button">
				<a href="#">&#8377; 9L</a><a class="cart-btn" href="#"><i class="cart-icon ion-bag"></i>BUY NOW</a>
			</div>

		</div>
		<img src="https://cdn.autoportal.com/img/new-cars-gallery/audi/a3/colors/e4e592c5f9e83343dd37217cd943dc93.jpg" width="300px" class="animated fadeInRight">
	</div>
  <div class="buybt" style="margin-top: 500px;">
<!-- HTML !-->
<button [routerLink]="['/book']" class="button-30" role="button">Book A Test Drive</button>
  </div>
</div>



