<!-- <body>
  <div class="col d-flex justify-content-center">
    <div class="backg">
    <div class="container" style="margin-top: 300px;">
      <div class="row">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://wallpaperaccess.com/full/4520330.jpg" alt="" style="height: 250px; width: 100%;">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://toppng.com/uploads/preview/volkswagen-tiguan-volkswagen-car-black-dark-suv-115698127164plfeysbfl.jpg" alt="" style="height: 250px; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/156/3/818/2014-peugeot-208-gti-30th-anniversary-limited-edition-black-and-red-peugeot-3-door-hatchback-wallpaper-preview.jpg" alt="" style="height: 250px; width: 100%;">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

      </div>
  </div>
  </div>
  </div>
</body> -->




<body>
  <div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Sedan</h3>
          <img class="card-img-top" src="https://wallpaperaccess.com/full/4520330.jpg" alt="" style="height: 250px; width: 100%;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a [routerLink]="['/cars']" href="#">Read More</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>SUV</h3>
          <img class="card-img-top" src="https://toppng.com/uploads/preview/volkswagen-tiguan-volkswagen-car-black-dark-suv-115698127164plfeysbfl.jpg" alt="" style="height: 250px; width: 100%;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a [routerLink]="['/cars']" href="#">Read More</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Hatchback</h3>
          <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/156/3/818/2014-peugeot-208-gti-30th-anniversary-limited-edition-black-and-red-peugeot-3-door-hatchback-wallpaper-preview.jpg" alt="" style="height: 250px; width: 100%;">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a [routerLink]="['/cars']" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</body>
